@include keyframes (bounceIn) {
  0% {
    opacity: 0;
    @include transform(scale(0.3));
  }

  50% {
    opacity: 1;
    @include transform(scale(1.05));
  }

  70% {
    opacity: 1;
    @include transform(scale(0.9));
  }

  100% {
    opacity: 1;
    @include transform(scale(1.0));
  }
}

@include keyframes (fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bounce-in {
  @include animation(bounceIn 0.8s ease);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.container .highlights .highlight.already-visible {
  opacity: 1;
  @include transform(scale(1));
  @include animation(none);
}

@include keyframes(slide) {
  from {
    background-position-y: 100%;
  }
  to {
    background-position-y: 0%; 
  }
}