@import "normalize";
@import "bourbon";

$max-width: 640px;
// $visual-grid: true !default;
// $visual-grid-color: #333 !default;

@import "neat";
@import "animations";
@import "mixins";

$bold: "Helvetica Neue", Helvetica, sans-serif;
$book: "Helvetica Neue", Helvetica, sans-serif;

#results div {
	display: block;
}

.clearboth {
	clear: both;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

body, p, a, span, {
	color: #282828;
}

p, a, span {
	font-family: $book;
}

h1, h2 {
	font-family: $bold;
}

h3 {
	font-family: $book;
}

img {
	max-width:100% !important;
	height:auto;
    display:inline-block;
}

h1 {
	font-size: 36pt;
	font-weight: 600;
}

h2 {
	font-size: 34pt;
	font-weight: 600;
	margin-bottom: 0;
}

h3 {
	font-size: 26pt;
	line-height: 28pt;
	font-weight: 300;
}

p {
	font-size: 12pt;
	line-height: 18pt;
	font-weight: 200;
}

.int {
	@include outer-container;
}

.cont  {
	width: 100%;
}

.estimation, .video {
	width: 640px;
	margin: 0 auto;
}

.video {
	margin-top: 40px;
	text-align: center;
	
	video {
		background-color: #000;
	}

	h2, span {
		// color: #fff;
	}
}

.howto {
	margin-top: 40px;
}

.explain {
	margin-top: 40px;

	.left, .right {
		@include span-columns(6 of 12);
	}

	.left { text-align: left; }
	.right {
		text-align: right;
		@include omega;
	}
}

.estimation {
	margin-top: 10px;
	margin-bottom: 120px;
	text-align: center;

	.input {
		float: left;
		width: 20%;

	}
}

.btn {
	background-color: #282828;
	border: none;
	border-radius: 5px;
	color: #fff;
	padding: 22px 42px;
	margin-top: 30px;
}
